# Problema 1

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors

In [3]:
df = pd.read_csv("wine-clustering.csv")
df

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [4]:
k = 5
test_data = [14, 2, 2.5, 16, 115, 3, 2.5, 0.4, 2, 9, 1, 3.5, 800]

In [5]:
# Ejecucion del algoritmo  KNN
knn_model = NearestNeighbors(n_neighbors = k, algorithm = 'auto').fit(df)
distances, indices = knn_model.kneighbors([test_data])

/opt/anaconda3/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [6]:
print('k vecinos mas cercanos:')
for rank, index in enumerate(indices[0][:k], start = 1):
    print(str(rank) + ' is', df.iloc[index])

k vecinos mas cercanos:
1 is Alcohol                  13.56
Malic_Acid                1.71
Ash                       2.31
Ash_Alcanity             16.20
Magnesium               117.00
Total_Phenols             3.15
Flavanoids                3.29
Nonflavanoid_Phenols      0.34
Proanthocyanins           2.34
Color_Intensity           6.13
Hue                       0.95
OD280                     3.38
Proline                 795.00
Name: 40, dtype: float64
2 is Alcohol                  14.06
Malic_Acid                1.63
Ash                       2.28
Ash_Alcanity             16.00
Magnesium               126.00
Total_Phenols             3.00
Flavanoids                3.17
Nonflavanoid_Phenols      0.24
Proanthocyanins           2.10
Color_Intensity           5.65
Hue                       1.09
OD280                     3.71
Proline                 780.00
Name: 20, dtype: float64
3 is Alcohol                  13.05
Malic_Acid                2.05
Ash                       3.22
Ash_Alcanity             25.00
Magnesium               124.00
Total_Phenols             2.63
Flavanoids                2.68
Nonflavanoid_Phenols      0.47
Proanthocyanins           1.92
Color_Intensity           3.58
Hue                       1.13
OD280                     3.20
Proline                 830.00
Name: 25, dtype: float64
4 is Alcohol                  12.93
Malic_Acid                3.80
Ash                       2.65
Ash_Alcanity             18.60
Magnesium               102.00
Total_Phenols             2.41
Flavanoids                2.41
Nonflavanoid_Phenols      0.25
Proanthocyanins           1.98
Color_Intensity           4.50
Hue                       1.03
OD280                     3.52
Proline                 770.00
Name: 21, dtype: float64
5 is Alcohol                  13.36
Malic_Acid                2.56
Ash                       2.35
Ash_Alcanity             20.00
Magnesium                89.00
Total_Phenols             1.40
Flavanoids                0.50
Nonflavanoid_Phenols      0.37
Proanthocyanins           0.64
Color_Intensity           5.60
Hue                       0.70
OD280                     2.47
Proline                 780.00
Name: 141, dtype: float64

In [7]:
import numpy as np
alc = [13.56, 14.06, 13.05, 12.93, 13.36]
media_alc = np.mean(alc)
media_alc

13.392000000000001

# Problema 2

In [9]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# lista de compras
my_basket = [['bread', 'butter', 'wine', 'bananas', 'coffee', 'carrots'],
    ['tomatoes', 'onions', 'cheese', 'milk', 'potatoes'],
    ['beer', 'chips', 'asparagus', 'salsa', 'milk', 'apples'],
    ['olive oil', 'bread', 'butter', 'tomatoes', 'steak', 'carrots'],
    ['tomatoes', 'onions', 'chips', 'wine', 'ketchup', 'orange juice'],
    ['bread', 'butter', 'beer', 'chips', 'milk'],
    ['butter', 'tomatoes', 'carrots', 'coffee', 'sugar'],
    ['tomatoes', 'onions', 'cheese', 'milk', 'potatoes'],
    ['bread', 'butter', 'ketchup', 'coffee', 'chicken wings'],
    ['butter', 'beer', 'chips', 'asparagus', 'apples'],
    ['tomatoes', 'onion', 'beer', 'chips', 'milk', 'coffee']]

In [10]:
# Creacion df binario
basket_binary = pd.DataFrame([{product: 1 for product in purchase} for purchase in my_basket]).fillna(0)
basket_binary = basket_binary.astype(int)
basket_binary.index = [f"Compra {i+1}" for i in range(len(my_basket))]
basket_binary

,bread,butter,wine,bananas,coffee,carrots,tomatoes,onions,cheese,milk,...,asparagus,salsa,apples,olive oil,steak,ketchup,orange juice,sugar,chicken wings,onion
Compra 1,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Compra 2,0,0,0,0,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Compra 3,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
Compra 4,1,1,0,0,0,1,1,0,0,0,...,0,0,0,1,1,0,0,0,0,0
Compra 5,0,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,1,1,0,0,0
Compra 6,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Compra 7,0,1,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Compra 8,0,0,0,0,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Compra 9,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
Compra 10,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
Compra 11,0,0,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [11]:
# Analisis "a priori" con un soporte del 10%
articulos_frecuentes = apriori(basket_binary, min_support = 0.1,
                              use_colnames = True).sort_values("support", ascending = False).reset_index(drop = True)
articulos_frecuentes['length'] = articulos_frecuentes['itemsets'].apply(lambda x: len(x))
articulos_frecuentes

/opt/anaconda3/lib/python3.12/site-packages/mlxtend/frequent_patterns/fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                    itemsets  length
0   0.545455                                  (tomatoes)       1
1   0.545455                                    (butter)       1
2   0.454545                                      (milk)       1
3   0.454545                                     (chips)       1
4   0.363636                                     (bread)       1
..       ...                                         ...     ...
67  0.181818                              (cheese, milk)       2
68  0.181818                          (potatoes, cheese)       2
69  0.181818                           (asparagus, beer)       2
70  0.181818                              (beer, apples)       2
71  0.181818  (onions, potatoes, cheese, tomatoes, milk)       5

[72 rows x 3 columns]

In [12]:
association_rules(articulos_frecuentes, metric = 'confidence',
                 min_threshold = 0.5, num_itemsets = 23).sort_values('confidence', ascending = False).reset_index(drop = True)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(bread),(butter),0.363636,0.545455,0.363636,1.0,1.833333,1.0,0.165289,inf,0.714286,0.666667,1.000000,0.833333
1,(apples),(asparagus),0.181818,0.181818,0.181818,1.0,5.500000,1.0,0.148760,inf,1.000000,1.000000,1.000000,1.000000
2,"(potatoes, onions)",(milk),0.181818,0.454545,0.181818,1.0,2.200000,1.0,0.099174,inf,0.666667,0.400000,1.000000,0.700000
3,"(potatoes, milk)",(onions),0.181818,0.272727,0.181818,1.0,3.666667,1.0,0.132231,inf,0.888889,0.666667,1.000000,0.833333
4,"(onions, milk)",(potatoes),0.181818,0.181818,0.181818,1.0,5.500000,1.0,0.148760,inf,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,(beer),(asparagus),0.363636,0.181818,0.181818,0.5,2.750000,1.0,0.115702,1.636364,1.000000,0.500000,0.388889,0.750000
241,(beer),(apples),0.363636,0.181818,0.181818,0.5,2.750000,1.0,0.115702,1.636364,1.000000,0.500000,0.388889,0.750000
242,(beer),"(chips, apples)",0.363636,0.181818,0.181818,0.5,2.750000,1.0,0.115702,1.636364,1.000000,0.500000,0.388889,0.750000
243,(beer),"(asparagus, chips)",0.363636,0.181818,0.181818,0.5,2.750000,1.0,0.115702,1.636364,1.000000,0.500000,0.388889,0.750000
244,(coffee),(bread),0.363636,0.363636,0.181818,0.5,1.375000,1.0,0.049587,1.272727,0.428571,0.333333,0.214286,0.500000